.profile {
  border-radius: 16px;
  min-width: 315px;
}

.profile img {
  max-height: 72px;
  max-width: 72px;
  border-radius: 8px;
}

.profile p {
  margin-bottom: 12px;
}

.profile input {
  border: 0;
  margin-left: 12px;
  margin-bottom: 24px;
}

.btn-primary {
  font-weight: 700 !important;
  width: 272px;
}

@media (max-width: 576px) {
  .profile {
    width: 75%;
  }

  .btn-primary {
    width: 75%;
  }
}
