img {
  max-height: 196px;
}

label {
  font-weight: 700;
}

.form-control {
  border: 0;
}

.btn-primary {
  font-weight: 700 !important;
  border-radius: 9px !important;
}

.signin {
  border-radius: 18px;
}

@media (max-width: 575.98px) {
  .signin {
    width: 75%;
  }
}
